<!--<table>-->
<!--    <thead>-->
<!--   <tr><th> Name </th>-->
<!--       <th> Department </th>-->
<!--       <th> email </th>-->
<!--       <th> Qualification </th>-->
<!--       <th> Experience </th>-->
<!--   </tr>-->
<!--    </thead>-->
<!--    {% for each in stf_list %}-->
<!--    <tr>-->
<!--        <td> {{ each.staff_name }}</td>-->
<!--        <td> {{each.staff_dep }}</td>-->
<!--       <td> {{ each.staff_mail }}</td>-->
<!--        <td> {{each.staff_qualifications }} </td>-->
<!--        <td> {{each.staff_experience }}</td>-->
<!--    </tr>-->
<!--    {% endfor %}-->
<!--</table>-->

<a href="/college/staff_ece/">ECE</a><br>
<a href="/college/staff_eee/">EEE</a><br>
<a href="/college/staff_cse/">CSE</a><br>
<a href="/college/staff_it/">IT</a><br>
<a href="/college/staff_mec/">MECH</a><br>
