<h2> STUDENT DETAILS</h2>


Name :{{user.studentreg.student.student_name}}<br>
Contact : {{user.studentreg.student.phone_num}}<br>
Ssc : {{user.studentreg.student.ssc_marks}}<br>
Inter :{{user.studentreg.student.pu_marks}}<br>
Department : {{user.studentreg.student_dep}}<br>
email : {{user.studentreg.student.student_mail}}<br>
image : <img src="{{user.studentreg.image}}" style="height:200px"/><br>
<br>


<a href="/college/student_logout/">logout</a><br>
<a href="/college/">back</a><br>
<a href="/college/std_dep">student_dep</a>
